#on suit les liens symboliques

Options +FollowSymLinks

#Activation du mode rewrite d'apache

RewriteEngine On

# RewriteRule ^(.*) index.php?action=$1 [L,QSA]

Rewritecond %{HTTP_HOST} ^goworkin.com$
Rewritecond %{HTTP_HOST} ^goworking.com$
# RewriteRule ^(.*) http://www.goworkin.com/$1 [QSA,L,R=301]a