{% extends "main.html" %}
{% block content %} 
<div class="aboutUs">
    <h1>Qui sommes nous?</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s </p>
   </div>

<div class="soclCont">
<div class="socialImgs">
       <a href="https://www.facebook.com/"><img class="socialImgs" src="assets/medias/image/facebook.svg"></a>
       <a href="https://github.com/">  <img class="socialImgs" src="assets/medias/image/github-logo (2).svg"></a>
       <a href="https://www.instagram.com/">  <img class="socialImgs" src="assets/medias/image/instagram.svg"></a>
</div>
</div>
{% endblock %}