

{% extends "main.html" %} 

{% block content %}

<div id="app">

  <form method="post" class="vue-form" @submit.prevent="submit">

    <div>
      <h1 class="center">Contact</h1>
      <input type="text" name="name" id="name" required="" v-model="name" placeholder="Votre nom">
    </div>
    <div>

      <input type="email" name="email" id="email" required="" :class="{ email , error: !email.valid }" v-model="email.value" placeholder="Votre e-mail">
    </div>

    <div>

      <textarea name="message" class="message" id="textarea" required="" v-model="message.text" :maxlength="message.maxlength"
        placeholder="Votre message"></textarea>
    </div>

    <div>
      <input type="submit" name="submit" value="Envoyer">
    </div>

  </form>



</div>

{% endblock %}