{% extends "main.html" %} {% block content %}


<img class="headbg" src="assets/medias/image/bgheader.jpg">

<div class="main">
<nav class="circular-menu">

  <div class="circle">
    <a href="contact">
      <img class="icnMenuCrcl coworking-nav" src="assets/medias/image/contact-icon.png">
      </label>
    </a>

    <a href="home">
      <img class="icnMenuCrcl wifi-nav" src="assets/medias/image/home-icon.png">
      </label>
    </a>


    <a href="about_us">
      <img class="icnMenuCrcl none-nav" src="assets/medias/image/about_us-icon.png">
      </label>
    </a>


  </div>

  <a href="" class="menu-button fa fa-bars fa-2x"></a>

</nav>
</div>
{% endblock %}