{% extends "main.html" %}

{% block content %}


<img class="headbg" src="assets/medias/image/bgheader.jpg">


<nav class="circular-menu">

    <div class="circle">

      <a href="coworking"><img class="icnMenuCrcl coworking-nav" src="assets/medias/image/computer-screen .png">
        </label></a>

      <a><img class="icnMenuCrcl wifi-nav" src="assets/medias/image/wifi-connection-signal-symbol (1).png">
        </label></a>
      <a href=""><img class="icnMenuCrcl none-nav" src="assets/medias/image/wheelchair-access.svg">
        </label></a>
                                    
     
    </div>
    
    <a href="" class="menu-button fa fa-bars fa-2x"></a>
  
  </nav>
  
{% endblock %}
