<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="https://neandp.promo-17.codeur.online/Goworkin"> {#
    <li Fatal error: Uncaught Twig_Error_Syntax: Unexpected "}". in /var/www/html/Goworkin/views/home.html:1 Stack trace:
        #0 /var/www/html/Goworkin/vendor/twig/twig/lib/Twig/Lexer.php(191): Twig_Lexer->lexExpression() #1 /var/www/html/Goworkin/vendor/twig/twig/lib/Twig/Lexer.php(101): Twig_Lexer->lexBlock() #2 /var/www/html/Goworkin/vendor/twig/twig/lib/Twig/Environment.php(512):
        Twig_Lexer->tokenize(Object(Twig_Source)) #3 /var/www/html/Goworkin/vendor/twig/twig/lib/Twig/Environment.php(565):
        Twig_Environment->tokenize(Object(Twig_Source)) #4 /var/www/html/Goworkin/vendor/twig/twig/lib/Twig/Environment.php(368):
        Twig_Environment->compileSource(Object(Twig_Source)) #5 /var/www/html/Goworkin/vendor/twig/twig/lib/Twig/Environment.php(289):
        Twig_Environment->loadTemplate('home.html') #6 /var/www/html/Goworkin/controllers/home.php(12): Twig_Environment->render('home.html')
        #7 /var/www/html/Goworkin/index.php(31): require_once('/var/www/html/G...') #8 {main} thrown in /var/www/html/Goworkin/views/home.html
        on line 1nk rel="stylesheet" href="assets/css/main.css"> #}
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
            crossorigin="anonymous">

        <title>Goworking</title>
</head>

<body>
    <header class="header ">
        <img class="logo" src="assets/medias/Image/Goworkinglogo.png">
    </header>

    {% block content %} {% endblock %}


    <footer class="footer ">
        <a href="main.html">
            <i class="fa fa-home imgsFooter fa-3x" style="size: 50px"></i>
        </a>
        <a href="AboutUs.html">
            <i class="fa fa-info-circle imgsFooter fa-3x"></i>
        </a>
        <a href="Contact.html">
            <i class="fa fa-envelope imgsFooter fa-3x"></i>
        </a>
    </footer>

    <script type="text/javascript" src="assets/js/vuejsForm.js"></script>
</body>

</html>