<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <base href="https://neandp.promo-17.codeur.online/Goworkin">  -->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/main.css">
    <title>Goworking</title>
</head>

<body>
    <header class="header ">
        <img class="logo" src="assets/medias/Image/Goworkinglogo.png">
    </header>

    {% block content %} {% endblock %}


    <footer class="footer ">
        <a href="main">
            <i class="fa fa-home imgsFooter fa-3x" style="size: 50px"></i>
        </a>
        <a href="aboutUs">
            <i class="fa fa-info-circle imgsFooter fa-3x"></i>
        </a>
        <a href="contact">
            <i class="fa fa-envelope imgsFooter fa-3x"></i>
        </a>
    </footer>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
    <!-- <script type="text/javascript" src="assets/js/vuejsForm.js"></script> -->
</body>

</html>