/*  <img src="assets/medias/Image/group-2606784_1920.jpg">*/
p,h1,h2,h3{
  color: #2D4E43;
}
.center
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  

}
/**************** Mobile **********************/
@media screen and (max-width: 640px) {
  
  .header{     
    width: 100%;
    height: 70px;
    background-color: #2D4E43;
     text-align: center; 
    padding: 0;
    margin: 0;   
  
  }
  .main{
    padding-top: 20px;
  }
  .logo{
   padding-top: 10px;
   width: 240px;
   height: 60px;
   justify-content: center;
   flex-wrap: wrap;
    
  }
  .headbg{
    padding: auto;
    margin: auto;
    background-image: url("assets/medias/Image/bgheader.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);    
    height: 250px;    
  }
.green1{
  color: #2D4E43;
}
  .txtCity{
 margin-top: 200px;
 margin-left: 25%;
 color: #2D4E43;

  }
    body {
      
      margin: 0; 
    }
    .footer{
      padding: 0;
      margin: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;    
      text-align: center; 
      background-color: #718878;    
    }   
      .imgsFooter{    
     
    width: 80px;
    color: white;    
   }
   /*About us page*/
   .aboutUs
   {
    padding-top: 20px;
    justify-content: center;
    text-align: left;
  padding-left: 5%;
  padding-right: 5%;
    color: #2D4E43;
   }
   .soclCont
   {
    position: absolute;
    padding-bottom: 25%;
    margin: 0;   
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    left: 0;   
    text-align: center;      

    
   }
.socialImgs{   
  margin: 0px;
  padding: 0px;
  justify-content:center;  
  width: 50px;
  display: inline; 
  align-self: flex-end;
  align-self: flex-start;
   }

   /* Page Contact*/
.contact{
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.txtContact{
width: 60%;
height: 50px;
margin-top: 20px;
border: 5px solid #718878;
text-align: center;
display: block;
    margin-left: auto;
    margin-right: auto;

}
.btnEnvoyer{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #2D4E43;
  width: 150px;
  height: 30px;
}
}

/************* Tablet *******************/
@media screen and (min-width: 640px) and (max-width:1200px){
  .header{     
    width: 100%;
    height: 70px;
    background-color: #2D4E43;
     text-align: center; 
    padding: 0;
    margin: 0;
  
  }
  .logo{
   padding-top: 10px;
   width: 240px;
   height: 60px;
   justify-content: center;
   flex-wrap: wrap;
    
  }
  .headbg{
    padding: auto;
    margin: auto;
    background-image: url("assets/medias/Image/bgheader.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);    
    height: 500px;    
  }
.green1{
  color: #2D4E43;
}
  .txtCity{
 margin-top: 200px;
 margin-left: 25%;
 color: #2D4E43;

  }
    body {
      
      margin: 0; 
    }
    .footer{
      padding: 0;
      margin: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;    
      text-align: center; 
      background-color: #718878;
      height: 150px;    
    }   
      .imgsFooter{    
     
    width: 120px;
    color: white;    
   }
   /*About us page*/
   .aboutUs
   {
    padding-top: 20px;
    justify-content: center;
    text-align: left;
  padding-left: 5%;
  padding-right: 5%;
    color: #2D4E43;
   }
   .aboutUs.p{
     font-size: 14px;
   }
   .soclCont
   {
    position: absolute;
    padding-bottom: 20%;
    margin: 0; 
    
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    left: 0;   
    text-align: center;      
   
    
   }
.socialImgs{   
  margin: 0px;
  padding: 0px;
  justify-content:center;  
  width: 70px;
  display: inline; 
  align-self: flex-end;
  align-self: flex-start;
   }
   /* Page Contact*/
.contact{
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.txtContact{
width: 60%;
height: 50px;
margin-top: 20px;
border: 5px solid #718878;
text-align: center;
display: block;
    margin-left: auto;
    margin-right: auto;

}
.btnEnvoyer{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #2D4E43;
  width: 150px;
  height: 30px;
}
}



/****************PC*********************/
@media screen and (min-width: 1200px) {
  .header{     
    width: 100%;
    height: 70px;
    background-color: #2D4E43;
     text-align: center; 
    padding: 0;
    margin: 0;
  
  }
  .logo{
   padding-top: 10px;
   width: 240px;
   height: 60px;
   justify-content: center;
   flex-wrap: wrap;
    
  }
  .headbg{
    padding: 0;
    margin: 0;
    background-image: url("assets/medias/Image/bgheader.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);    
    height: 250px;    
  }
.green1{
  color: #2D4E43;
}
  .txtCity{
 margin-top: 200px;
 margin-left: 25%;
 color: #2D4E43;

  }
    body {
      
      margin: 0; 
    }
    .footer{
      padding-top:25px;
      padding: 0;
      margin: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;    
      text-align: center; 
      background-color: #718878;    
    }   
      .imgsFooter{    
     
    width: 100px;
    color: white;    
   }
   /*About us page*/
   .aboutUs
   {
    padding-top: 20px;
    justify-content: center;
    text-align: left;
  padding-left: 5%;
  padding-right: 5%;
    color: #2D4E43;
   }
   .soclCont
   {
    position: absolute;
    padding-bottom: 5%;
    margin: 0; 
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    left: 0;   
    text-align: center;      
   
    
   }
.socialImgs{   
  margin: 0px;
  padding: 0px;
  justify-content:center;  
  width: 50px;
  display: inline; 
  align-self: flex-end;
  align-self: flex-start;
   }
   /* Page Contact*/
.contact{
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.txtContact{
width: 60%;
height: 50px;
margin-top: 20px;
border: 5px solid #718878;
text-align: center;
display: block;
    margin-left: auto;
    margin-right: auto;

}
.btnEnvoyer{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #2D4E43;
  width: 150px;
  height: 30px;
}
}


/*Form contact*/

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400");

*,
*::after,
*::before {
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #2c3e50;
  text-decoration: none;
}


#app {
  display: flex;
}

.vue-form {
  font-size: 16px;
  width: 500px;
  padding: 15px 30px;
  border-radius: 4px;
  margin: auto auto;
  width: 500px;
  background-color: #fff;

}
.vue-form fieldset {
  margin: 20px 0 0 0;
}
.vue-form legend {
  padding-bottom: 10px;
  border-bottom: 1px solid #ecf0f1;
}
.vue-form div {
  position: relative;
  margin: 20px 0;
}
.vue-form h4,
.vue-form .label {
  color: #94aab0;
  margin-bottom: 10px;
}
.vue-form .label {
  display: block;
}
.vue-form input,
.vue-form textarea,
.vue-form select,
.vue-form label {
  color: #2b3e51;
}
.vue-form input[type="text"],
.vue-form input[type="email"],
.vue-form textarea,
.vue-form select,
.vue-form legend {
  display: block;
  width: 100%;
  appearance: none;
}
.vue-form input[type="text"],
.vue-form input[type="email"],
.vue-form textarea,
.vue-form select {
  padding: 12px;
  border: 3.5px solid #718878;
  background-color: #ffffff;
  border-radius: 0.25em;
  box-shadow: inset 0 spx 2px blue(0, 0, 0, 0.08);
}
.vue-form input[type="text"]:focus,
.vue-form input[type="email"]:focus,
.vue-form textarea:focus,
.vue-form select:focus {
  outline: none;
  border-color: #2c3e50;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}
.vue-form .select {
  position: relative;
}
.vue-form .select::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 16px;
  top: 50%;
  margin-top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  background: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpolygon%20fill%3D%22%232c3e50%22%20points%3D%220.9%2C5.5%203.1%2C3.4%208%2C8.3%2012.9%2C3.4%2015.1%2C5.5%208%2C12.6%20%09%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E")
    no-repeat center center;
  pointer-events: none;
}
.vue-form select {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.vue-form select::-ms-expand {
  display: none;
}
.vue-form .vue-form-list {
  margin-top: 16px;
}
.vue-form .vue-form-list::after {
  clear: both;
  content: "";
  display: table;
}
.vue-form .vue-form-list li {
  display: inline-block;
  position: relative;
  user-select: none;
  margin: 0 26px 16px 0;
  float: left;
}
.vue-form input[type="radio"],
.vue-form input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.vue-form input[type="radio"] + label,
.vue-form input[type="checkbox"] + label {
  padding-left: 24px;
}
.vue-form input[type="checkbox"] + label::before,
.vue-form input[type="checkbox"] + label::after {
  border-radius: 0.25em;
}
.vue-form input[type="radio"] + label::after,
.vue-form input[type="checkbox"] + label::after {
  background-color: #2c3e50;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.4);
  display: none;
}
.vue-form textarea {
  min-height: 120px;
  resize: vertical;
  overflow: auto;
}
.vue-form input[type="submit"] {
  border: none;
  background: #2D4E43;
  border-radius: 0.25em;
  padding: 12px 20px;
  color: #ffffff;
  font-weight: bold;
  float: left;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  appearance: none;
}
.no-touch .vue-form input[type="submit"]:hover {
  background: #42a2e1;
}
.vue-form input[type="submit"]:focus {
  outline: none;
  background: #2b3e51;
}
.vue-form input[type="submit"]:active {
  transform: scale(0.9);
}
.vue-form .error-message {
  height: 35px;
  margin: 0px;
}
.vue-form .error-message p {
  background: #e94b35;
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0.25em;
  padding: 16px;
}
.vue-form .error {
  border-color: #e94b35 !important;
}
.vue-form .counter {
  background-color: #ecf0f1;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 10px;
  padding: 4px;
}

.debug {
  border-radius: 4px;
  margin: 50px auto;
  width: 500px;
  background-color: #000;
  padding: 50px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
}

.debug pre {
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  white-space: pre-wrap;
}

@-webkit-keyframes cd-bounce {
  0%,
  100% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
  }
}
@-moz-keyframes cd-bounce {
  0%,
  100% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.8);
  }
}
@keyframes cd-bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}
/* circle */


@import "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";


.circular-menu {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: relative;
}

.circle {
  width: 250px;
  height: 250px;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.open.circle {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.circle a {
  text-decoration: none;
  color:black;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  text-align: center;

}

.circle a:hover {
  color: #718878;
  width: z
}

.menu-button {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  text-decoration: none;
  text-align: center;
  color: #000;
  border-radius: 50%;
  display: block;
  height: 50px;
  width: 50px;
  line-height: 40px;
  padding: 10px;
  background: #718878;
}

.menu-button:hover {
  background-color:#2D4E43 ;
}

/* Author stuff */
h1.author {
  text-align:center;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
}


h1.author a:hover {
  color: #ddd;
} 
.icnMenuCrcl{
width: 70px;
background-color: #718878;
border-radius: 50%;
position: absolute;
top: calc(50% - 30px);
left: calc(50% - 30px);
text-decoration: none;
text-align: center;
color: #000;
border-radius: 50%;
display: block;
height: 70px;
line-height: 50px;
padding: 15px;
background: #718878;

}