<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<base href="https://neandp.promo-17.codeur.online/Goworkin">
<link rel="stylesheet" href="assets/css/main.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<title>Goworking</title>
</head>
<body>
    <header> 
   <img class="logo" src="assets/medias/image/Goworkinglogo.png">
    </header>

{% block content %} {% endblock %}


<footer>

</footer>
</body>
</html>Goworkinglogo.png